body{
    background-color: blueviolet;
    color: crimson;
font-family: arial, sans-serif;
}

header{
    background-color: aqua;
    color:beige;
    text-align: center;
    padding: 30px;
}
h1{
    font-size: 36px;

}

h2{
    color: cornflowerblue;
}

p{
    font-size: 18px;
    line-height: 1.6;
}